<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:icon="@drawable/uchiha_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.UCHIHAControlCenter">
        <activity
            android:name=".AiConnectionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DomainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeployActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SourceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GitHubActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeamActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorkspaceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
